<%- model_class = User -%>
<div class="page-header">
  <h2>Usuarios</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <%= link_to 'Editar usuario',
                      edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Eliminar usuario',
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => '¿Está seguro?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo',
            new_user_path,
            :class => 'btn btn-primary' %>
