<%- model_class = User -%>
<div class="page-header">
  <h2>Ranking</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Nombre</th>
      <th>Puntos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @users_points.each_with_index do |(user_id, user_info), i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= user_info[:name] %></td>
        <td><%= user_info[:points] %></td>
        <td>
          <%= link_to 'Ver Quiniela',
                      user_path(user_id), :class => 'btn btn-mini btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>